In [1]:
f_fp = 1545
f_fn = 3651 

g_fp = 1197
g_fn = 3252 

l_fp = 2130
l_fn = 3521

In [3]:
print(f_fp / f_fn) , print(f_fn /f_fp)

0.4231717337715694
2.363106796116505

(None, None)

In [4]:
print(g_fp / g_fn) , print(g_fn/g_fp)

0.36808118081180813
2.7167919799498748

(None, None)

In [5]:
print(l_fp / l_fn) , print(l_fn/l_fp)

0.6049417779040045
1.6530516431924882

(None, None)

In [7]:
import pandas as pd
import numpy as np
df = pd.read_csv('/home/allen/Galva/capstones/capstone2/src/explore/ready12_24_train.csv')

In [8]:
df

,Patient_ID_x,Health_Camp_ID,Registration_Date,Var1,Var2,Var3,Var4,Var5,Category1_x,Category2,...,y_target,Health Score,Number_of_stall_visited,Last_Stall_Visited_Number,Camp_length,delta_first_reg,interaction_regreister_delta,delta_first_start,delta_reg_end,Camp_Length
0,489652,6578,2005-09-10,4.0,0.0,0.0,0.0,2.0,Third,G,...,1.0,NaN,2.0,1.0,59 days,-25.0,278,253,34,59
1,489652,6532,2005-03-15,0.0,0.0,0.0,0.0,0.0,First,F,...,0.0,NaN,NaN,NaN,NaN,-24.0,99,75,161,185
2,489652,6543,2005-11-26,4.0,0.0,0.0,0.0,2.0,First,F,...,0.0,NaN,NaN,NaN,NaN,-60.0,355,295,711,771
3,489652,6580,2004-12-18,0.0,0.0,0.0,0.0,0.0,First,E,...,0.0,NaN,NaN,NaN,NaN,4.0,12,16,19,15
4,489652,6570,2005-05-01,0.0,0.0,0.0,0.0,0.0,First,E,...,0.0,NaN,NaN,NaN,NaN,69.0,146,215,82,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75273,489743,6538,2004-07-31,0.0,0.0,0.0,0.0,0.0,First,F,...,0.0,NaN,NaN,NaN,NaN,-204.0,16,-188,188,392
75274,514807,6528,2006-04-24,0.0,0.0,0.0,0.0,0.0,Third,G,...,1.0,NaN,2.0,1.0,74 days,-73.0,31,-42,1,74
75275,522897,6529,2006-03-28,0.0,0.0,0.0,0.0,0.0,Second,A,...,1.0,0.065742,NaN,NaN,4 days,2.0,10,12,6,4
75276,527548,6529,2006-03-03,0.0,0.0,0.0,0.0,0.0,Second,A,...,0.0,NaN,NaN,NaN,NaN,27.0,13,40,31,4
75277,504873,6543,2006-06-13,0.0,0.0,0.0,0.0,0.0,First,F,...,0.0,NaN,NaN,NaN,NaN,-259.0,10,-249,512,771