In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 

from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix, plot_roc_curve, accuracy_score

pd.set_option('display.max_columns', None) 
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import KFold, train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, classification_report

In [2]:
from pandas.plotting import scatter_matrix

from sklearn.linear_model import LinearRegression, Ridge, Lasso, LogisticRegression
from sklearn.model_selection import train_test_split, KFold
from sklearn.preprocessing import StandardScaler
from sklearn.base import clone

%matplotlib inline
import matplotlib.pyplot as plt
plt.rcParams['figure.dpi'] = 200
#from utils import XyScaler
#from roc_curve2 import roc_curve

In [16]:
df_withID2 = pd.read_csv('/home/allen/Galva/capstones/capstone2/data/placeholder/df_withdates.csv')

In [17]:
df_withID2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75278 entries, 0 to 75277
Data columns (total 39 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    75278 non-null  int64
 1   Patient_ID_x                  75278 non-null  int64
 2   Health_Camp_ID                75278 non-null  int64
 3   Registration_Date             75278 non-null  object
 4   Var1                          75278 non-null  float64
 5   Var2                          75278 non-null  float64
 6   Var3                          75278 non-null  float64
 7   Var4                          75278 non-null  float64
 8   Var5                          75278 non-null  float64
 9   Category1_x                   75278 non-null  object
 10  Category2_x                   75278 non-null  object
 11  Category3_x                   75278 non-null  int64
 12  Camp_Start_Date2              75278 non-null  object
 13  Camp_End_Date2                75278 non-null  object
 14  patient_event                 75278 non-null  int64
 15  Online_Follower_x             75278 non-null  int64
 16  First_Interaction             75278 non-null  object
 17  City_Type                     42070 non-null  object
 18  Employer_Category             15203 non-null  object
 19  City_Type2_x                  75278 non-null  int64
 20  Job Type_x                    75278 non-null  object
 21  online_score                  75278 non-null  int64
 22  Category1_y                   20552 non-null  object
 23  Category2_y                   20552 non-null  object
 24  Category3_y                   20552 non-null  float64
 25  Patient_ID_y                  20552 non-null  float64
 26  Online_Follower_y             20552 non-null  float64
 27  City_Type2_y                  20552 non-null  float64
 28  Job Type_y                    20552 non-null  object
 29  y_target                      75278 non-null  float64
 30  Health Score                  7819 non-null   float64
 31  Number_of_stall_visited       6515 non-null   float64
 32  Last_Stall_Visited_Number     6515 non-null   float64
 33  Camp_length                   20552 non-null  object
 34  delta_first_reg               75278 non-null  float64
 35  interaction_regreister_delta  75278 non-null  int64
 36  delta_first_start             75278 non-null  int64
 37  delta_reg_end                 75278 non-null  int64
 38  Camp_Length                   75278 non-null  int64
dtypes: float64(14), int64(12), object(13)
memory usage: 22.4+ MB

In [15]:
df_withID = pd.read_csv('/home/allen/Galva/capstones/capstone2/data/ready12_24_train.csv')

In [18]:
df_withID

,Health_Camp_ID,Var1,Var2,Var3,Var4,Var5,City_Type2_x,Job Type_x,online_score,y_target,Camp Start Date - Registration Date,Registration Date - First Interaction,Camp Start Date - First Interaction,Camp End Date - Registration Date,Camp Length,Category 1,Category 2,Category 3
0,6578,4.0,0.0,0.0,0.0,2.0,23384,9999,0,1.0,-25.0,278,253,34,59,Third,G,2100
1,6532,0.0,0.0,0.0,0.0,0.0,23384,9999,0,0.0,-24.0,99,75,161,185,First,F,2100
2,6543,4.0,0.0,0.0,0.0,2.0,23384,9999,0,0.0,-60.0,355,295,711,771,First,F,2100
3,6580,0.0,0.0,0.0,0.0,0.0,23384,9999,0,0.0,4.0,12,16,19,15,First,E,2100
4,6570,0.0,0.0,0.0,0.0,0.0,23384,9999,0,0.0,69.0,146,215,82,13,First,E,2100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75273,6538,0.0,0.0,0.0,0.0,0.0,23384,9999,0,0.0,-204.0,16,-188,188,392,First,F,2100
75274,6528,0.0,0.0,0.0,0.0,0.0,1729,9999,0,1.0,-73.0,31,-42,1,74,Third,G,2100
75275,6529,0.0,0.0,0.0,0.0,0.0,23384,9999,0,1.0,2.0,10,12,6,4,Second,A,2100
75276,6529,0.0,0.0,0.0,0.0,0.0,23384,9999,0,0.0,27.0,13,40,31,4,Second,A,2100
75277,6543,0.0,0.0,0.0,0.0,0.0,1704,9999,0,0.0,-259.0,10,-249,512,771,First,F,2100

In [12]:
from preprocessing import drop_cols , one_hot_encoding , scale
data = drop_cols(df_withID) # drop cols

df_encode = one_hot_encoding(data, columns = ['City_Type2_x','Job Type_x','Category 2','Category 3','Category 1', 'online_score'])
df_encode1 = df_encode.drop(['City_Type2_x','Job Type_x','Category 2','Category 3','Category 1', 'online_score','Health_Camp_ID'],axis=1) 
df_encode2 = df_encode.drop(['City_Type2_x','Job Type_x','Category 2','Category 3','Category 1', 'online_score','Health_Camp_ID'],axis=1) 
df_encode3 = df_encode.drop(['City_Type2_x','Job Type_x','Category 2','Category 3','Category 1', 'online_score','Health_Camp_ID'],axis=1) 
df_encode4 = df_encode.drop(['City_Type2_x','Job Type_x','Category 2','Category 3','Category 1', 'online_score','Health_Camp_ID'],axis=1)

In [13]:
df_encode.drop([
                                        'BFSI',
                                'Broadcasting',
                                  'Consulting',
                                   'Education',
                                        'Food',
                                      'Health',
                               'Manufacturing',
                                      'Others',
                                      'Retail',
                           'Software Industry',
                                  'Technology',
                                     'Telecom',
                                   'Transport'],axis=1,inplace=True)

In [14]:
df_encode1 = df_encode.copy()
df_encode2 = df_encode.copy()
df_encode3 = df_encode.copy()
df_encode4 = df_encode.copy()

In [15]:
df_encode1 = df_withID['y_target'].values
df_encode2 = df_withID['y_target'].values
df_encode3 = df_withID['y_target'].values
df_encode4 =  df_withID['y_target'].values

In [8]:
df_withID

,Health_Camp_ID,Var1,Var2,Var3,Var4,Var5,City_Type2_x,Job Type_x,online_score,y_target,Camp Start Date - Registration Date,Registration Date - First Interaction,Camp Start Date - First Interaction,Camp End Date - Registration Date,Camp Length,Category 1,Category 2,Category 3
0,6578,4.0,0.0,0.0,0.0,2.0,23384,9999,0,1.0,-25.0,278,253,34,59,Third,G,2100
1,6532,0.0,0.0,0.0,0.0,0.0,23384,9999,0,0.0,-24.0,99,75,161,185,First,F,2100
2,6543,4.0,0.0,0.0,0.0,2.0,23384,9999,0,0.0,-60.0,355,295,711,771,First,F,2100
3,6580,0.0,0.0,0.0,0.0,0.0,23384,9999,0,0.0,4.0,12,16,19,15,First,E,2100
4,6570,0.0,0.0,0.0,0.0,0.0,23384,9999,0,0.0,69.0,146,215,82,13,First,E,2100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75273,6538,0.0,0.0,0.0,0.0,0.0,23384,9999,0,0.0,-204.0,16,-188,188,392,First,F,2100
75274,6528,0.0,0.0,0.0,0.0,0.0,1729,9999,0,1.0,-73.0,31,-42,1,74,Third,G,2100
75275,6529,0.0,0.0,0.0,0.0,0.0,23384,9999,0,1.0,2.0,10,12,6,4,Second,A,2100
75276,6529,0.0,0.0,0.0,0.0,0.0,23384,9999,0,0.0,27.0,13,40,31,4,Second,A,2100
75277,6543,0.0,0.0,0.0,0.0,0.0,1704,9999,0,0.0,-259.0,10,-249,512,771,First,F,2100

In [11]:
cat3={}
for i in df_withID['Category 3'].values:
    if i not in cat3:
        cat3[i]=1
    else:
        cat3[i]+=1
print(cat3)

{2100: 74871, 1100: 407}

In [16]:
df_encode1

array([1., 0., 0., ..., 1., 0., 0.])

In [ ]:
from sklearn.svm import SVC
from sklearn.metrics import plot_roc_curve

# y = checker4.pop('y_target')
# X = checker4

# y = cb4.pop('y_target')
# X = cb4

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

svc = SVC(random_state=42, probability = True)
svc.fit(X_test, y_test)

rfc = RandomForestClassifier(n_estimators = 200, max_depth = 10)
rfc.fit(X_train,y_train)
rfc_preds = rfc.predict(X_test)


print(classification_report(y_test,rfc_preds) ) 
print(confusion_matrix(y_test,rfc_preds)) 

svc_disp = plot_roc_curve(svc, X_test, y_test)
plt.show()
svc_preds = svc.predict(X_test)
svc_proba = svc.predict_proba(X_test)[:,1]

predsx , preds2x = svc_proba  >= .5 , svc_proba  >= .4

print(classification_report(y_test,svc_preds) )
print(confusion_matrix(y_test,svc_preds)) 
svc_disp = plot_roc_curve(svc, X_test, y_test)
plt.show()

In [ ]:
X_test['Proba'] = pure_probaz
X_test['Prediction'] = predictionsz
X_test['y_target'] = y_test

In [ ]:
df_1 = X_test[(X_test['y_target']==1) & (X_test['Prediction']==1)]
df_0 = X_test[(X_test['y_target']==0) & (X_test['Prediction']==0)]
df_10 = X_test[(X_test['y_target']==1) & (X_test['Prediction']==0)]
df_01 = X_test[(X_test['y_target']==0) & (X_test['Prediction']==1)]

In [2]:
patient = pd.read_csv('/home/allen/Galva/capstones/capstone2/data/Train/Patient_Profile.csv')

In [6]:
patient.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37633 entries, 0 to 37632
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Patient_ID         37633 non-null  int64
 1   Online_Follower    37633 non-null  int64
 2   LinkedIn_Shared    37633 non-null  int64
 3   Twitter_Shared     37633 non-null  int64
 4   Facebook_Shared    37633 non-null  int64
 5   Income             37633 non-null  object
 6   Education_Score    37633 non-null  object
 7   Age                37633 non-null  object
 8   First_Interaction  37633 non-null  object
 9   City_Type          14249 non-null  object
 10  Employer_Category  2840 non-null   object
dtypes: int64(5), object(6)
memory usage: 3.2+ MB

In [5]:
patient.City_Type.unique()

array([nan, 'H', 'D', 'F', 'G', 'B', 'E', 'I', 'A', 'C'], dtype=object)

In [9]:
37633-14249

23384

In [10]:
city = {}
for i in patient['City_Type'].values:
    if i not in city:
        city[i]=1
    else:
        city[i]+=1
print(city.items())

dict_items([(nan, 23384), ('H', 2517), ('D', 1704), ('F', 816), ('G', 1352), ('B', 2662), ('E', 1217), ('I', 1036), ('A', 1729), ('C', 1216)])